<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/styles/stylelogin.css">
</head>
<body>
    <img alt="Abrir menú" src="../static/baseline-density-medium.svg" class="menu-toggle" aria-label="Abrir menú" onclick="document.getElementById('sidebar-menu').classList.toggle('open')">
    <nav id="sidebar-menu" class="sidebar-menu">
        <a href="/dashboard">
            <img src="../static/home.svg" alt="Inicio" class="icon-menu">Inicio
        </a>
        <a href="/patients/register">
            <img src="../static/user-plus.svg" alt="Registrar paciente" class="icon-menu">Registrar Paciente
        </a>
        <a href="/appointments/register">
            <img src="../static/clipboard-plus.svg" alt="Registrar cita" class="icon-menu">Registrar Cita
        </a>
        <a href="/patients/list">
            <img src="../static/user-search.svg" alt="Buscar paciente" class="icon-menu">Buscar Paciente
        </a>
        <a href="/appointments/search">
            <img src="../static/clipboard-search.svg" alt="Buscar cita" class="icon-menu">Buscar Cita
        </a>
        <a href="/auth/logout">
            <img src="../static/logout-2.svg" alt="Cerrar sesión" class="icon-menu">Cerrar sesión
        </a>
    </nav>
    <div class="login-container">
        <h1>Bienvenido al Dashboard</h1>
        <a href="/patients/register" class="btn">Registrar Paciente</a>
        <a href="/patients/list" class="btn">Buscar paciente</a>
        <a href="/appointments/register" class="btn">Registrar Cita</a>
        <a href="/appointments/search" class="btn">Buscar cita</a>
        <a href="/auth/logout" class="btn">Cerrar sesión</a>
    </div>
</body>
</html>