<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/styles/stylelogin.css">
</head>
<body>
    <div class="login-container">
        <h1>Bienvenido al Dashboard</h1>
        <a href="/patients/register" class="btn">Registrar Paciente</a>
        <a href="/patients/list" class="btn">Buscar paciente</a>
        <a href="/appointments/register" class="btn">Registrar Cita</a>
        <a href="/appointments/search" class="btn">Buscar cita</a>
        <a href="/auth/logout" class="btn">Cerrar sesión</a>
    </div>
</body>
</html>