<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
</head>
<body>
    <nav class="main-menu">
    <a href="/dashboard">Inicio</a>
    <a href="/patients/register">Registrar Paciente</a>
    <a href="/appointments/register">Registrar Cita</a>
    <a href="/patients/list">Buscar Paciente</a>
    <a href="/appointments/search">Buscar Cita</a>
    <a href="/auth/logout">Cerrar sesión</a>
</nav>
</body>
</html>