<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscar Cita</title>
    <link rel="stylesheet" href="/static/styles/stylelogin.css">
</head>
<body>
    <!-- Botón para abrir el menú -->
    <img alt="Abrir menú" src="../static/baseline-density-medium.svg" class="menu-toggle" aria-label="Abrir menú" onclick="document.getElementById('sidebar-menu').classList.toggle('open')">

    <!-- Sidebar del menú -->
    <nav id="sidebar-menu" class="sidebar-menu">
        <a href="/dashboard">Inicio</a>
        <a href="/patients/register">Registrar Paciente</a>
        <a href="/appointments/register">Registrar Cita</a>
        <a href="/patients/list">Buscar Paciente</a>
        <a href="/appointments/search">Buscar Cita</a>
        <a href="/auth/logout">Cerrar sesión</a>
    </nav>
    <div class="login-container">
        <h1>Buscar Cita</h1>
        <form method="get" action="/appointments/search">
            <input type="text" name="paciente_id" placeholder="ID del paciente">
            <input type="text" name="paciente_nombre" placeholder="Nombre del paciente" >
            <input type="date" name="fecha" >
            <button type="submit">Buscar</button>
        </form>
        {% if citas %}
            <ul>
                {% for cita in citas %}
                    <li>{{ cita.fecha }} {{ cita.hora }} - {{ cita.motivo }} - {{ cita.diagnostico }}</li>
                {% endfor %}
            </ul>
        {% elif error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>